@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --primary: #7898FF;
    --secondary: #8E64C5;
    --app-grey: #F2F2F2;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
background: linear-gradient(110deg, var(--primary), var(--secondary));
height: 100vh;
}

h1{
  text-align: center;
  margin: 20px 0;
}

.tarjeta{
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  height: 250px;
  width: 50%;
  max-width: 400px;
  box-shadow: 1px 1px 3px 2px #00000045;
}
.tarjeta article{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 250px;  
}
.tarjeta article .nombre, .tarjeta article .correo{
  padding: 5px 0;
}
.tarjeta article img.imagenUsuario{
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  box-shadow: 1px 1px 3px 2px #00000045;
  margin-top: 5px;
}
.btnContainer{
  padding: 20px 0;
  text-align: center;
}
.btnContainer button{
  padding: 5px 15px;
}